<div class="jumbotron mt-5">
  <h1 class="display-4 jumbotron-header">Welcome to
    <span class="display-4 pl-2 recall-format">RecallQuotes</span>
  </h1>
  <p class="lead">Get your daily inspiring quotes</p>
</div>
<div class="card">
  <h5 class="card-header">Quote of the day</h5>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Some Quote</p>
      <footer class="blockquote-footer">Some author</footer>
    </blockquote>
  </div>
</div>
<div class="row my-3 py-2">
  <div class="col-sm-4 mb-2">
    <button class="btn btn-block">Random Quote</button>
  </div>
  <div class="col-sm-4 mb-2">
    <button routerLink="/authors" class="btn btn-block">Browse By Author</button>
  </div>
  <div class="col-sm-4 mb-2">
    <button routerLink="/topics" class="btn btn-block">Brows By Topic</button>
  </div>
</div>